extends layout 

block content 
    h1= title 

    ul 
        each item in items 
            li
                a(href=item.url) !{item.name}
                p Description: !{item.description}
                p Price: !{item.price}
                p Stock: !{item.stock}
                a(href=item.category) !{item.category}
                br
        else 
            li There are no items.